In [1]:
# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

# Dictionary to convert state names to their abbreviations
from us_state_abbrev import us_state_abbrev
################################################
# Title: us_state_abbrev.py
# Author: Haque, A
# Date: 2016
# Availability: https://gist.github.com/afhaque/29f0f4f37463c447770517a6c17d08f5#file-us_state_abbrev-py
################################################

In [68]:
# Import the clean ufo data

ufo_df = pd.read_csv("Resources/ufo_original.csv")

# # Keep only the columns needed for this analysis
ufo_df = ufo_df[["datetime", "latitude", "longitude "]]
ufo_df = ufo_df.rename(columns={"datetime": "Date", "latitude": "Lat",
                                "longitude ": "Long"})

# Add a column to count the sightings
ufo_df["Count"] = 1

ufo_df.head()

/Users/adamburstyn/opt/anaconda3/envs/pythondata/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

               Date         Lat        Long  Count
0  10/10/1949 20:30  29.8830556  -97.941111      1
1  10/10/1949 21:00    29.38421  -98.581082      1
2  10/10/1955 17:00        53.2   -2.916667      1
3  10/10/1956 21:00  28.9783333  -96.645833      1
4  10/10/1960 20:00  21.4180556 -157.803611      1

In [82]:
ufo_df["Date"].view('int64')
#ufo_df['ts'] = ufo_df["Date1"].values.astype(np.int64) // 10 ** 9

TypeError: Cannot change data-type for object array.