In [5]:
# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
import requests
import json
from scipy.stats import linregress
from config import weather_api_key_sab

In [2]:
# Import the clean ufo data

ufo_df = pd.read_csv("Resources/usa_sights.csv")

# Keep only the columns needed for this analysis
ufo_df = ufo_df[["city", "state", "year", "sightings", "date_time"]]

# Format ufo dataframe for merging with income dataframe
#ufo_df["state"] = ufo_df["state"].str.upper()
#ufo_df = ufo_df.rename(columns={"state": "State", "sightings": "Sightings", "year": "Year"})

# Convert year column to string for concatenation
ufo_df["year"] = ufo_df["year"].astype(str)

# Empty list to store date
ymd = []
time = []

for index, row in ufo_df.iterrows():
    # Drop cities with spaces to facilitiate API calls
    test = row["city"].split(" ")
    if len(test)>1:
        ufo_df = ufo_df.drop(index=index)
        
    else:
        # Get date in proper format to call API
        day = row["date_time"].split(" ")
        ymd.append(row["year"]+"-"+day[0])

        # Get time in proper format for API
        hours = day[1].split(":")
        #time.append(hours[0]+":00:00")
        time.append(hours[0])

ufo_df["date"] = ymd
ufo_df["time"] = time

# Convert time column to int to index API response
ufo_df["time"] = ufo_df["time"].astype(int)

ufo_df["state"] = ufo_df["state"].str.upper()
ufo_df["city"] = ufo_df["city"].str.title()

# Only look at dates from 1970 and later (the API dates back to 1970)
ufo_df = ufo_df.loc[ufo_df["year"]>="1970"]

ufo_df

             city state  year  sightings       date_time        date  time
9        Bellmore    NY  1970          1  10-10 16:00:00  1970-10-10    16
10     Manchester    KY  1970          1  10-10 19:00:00  1970-10-10    19
11      Lexington    NC  1971          1  10-10 21:00:00  1971-10-10    21
14        Niantic    CT  1973          1  10-10 19:00:00  1973-10-10    19
15         Hudson    MA  1974          1  10-10 19:30:00  1974-10-10    19
...           ...   ...   ...        ...             ...         ...   ...
63548   Nashville    TN  2013          1  09-09 21:15:00  2013-09-09    21
63549       Boise    ID  2013          1  09-09 22:00:00  2013-09-09    22
63550        Napa    CA  2013          1  09-09 22:00:00  2013-09-09    22
63551      Vienna    VA  2013          1  09-09 22:20:00  2013-09-09    22
63552      Edmond    OK  2013          1  09-09 23:00:00  2013-09-09    23

[43523 rows x 7 columns]

In [3]:
# Get a population sample
ufo_sample = ufo_df.sample(n=45)
ufo_sample

               city state  year  sightings       date_time        date  time
44734        Tigard    OR  2012          1  07-14 22:00:00  2012-07-14    22
32653     Knoxville    TN  2004          1  04-08 23:40:00  2004-04-08    23
13074        Tucson    AZ  2006          1  11-08 04:50:00  2006-11-08     4
43885       Fontana    CA  1990          1  07-01 23:00:00  1990-07-01    23
23344     Allendale    CA  2008          1  02-28 22:00:00  2008-02-28    22
2283      Waterford    MI  2006          1  10-18 23:00:00  2006-10-18    23
43833      Caldwell    WI  1980          1  07-01 01:00:00  1980-07-01     1
7004     Waterville    ME  2012          1  11-01 19:20:00  2012-11-01    19
32298      Richmond    VA  2007          1  04-05 21:00:00  2007-04-05    21
17458        Austin    TX  2009          1  12-31 23:46:00  2009-12-31    23
24082         Plano    TX  2008          1  02-08 20:20:00  2008-02-08    20
38488      Glendale    CA  2002          1  06-14 15:00:00  2002-06-14    15
17877      Wrentham    MA  2012          1  12-03 17:01:00  2012-12-03    17
41585      Columbus    IN  2010          1  06-28 19:00:00  2010-06-28    19
40557       Tavares    FL  2008          1  06-22 21:00:00  2008-06-22    21
30948    Waynesboro    PA  2006          1  04-23 21:15:00  2006-04-23    21
15432         Miami    FL  2008          1  12-19 05:49:00  2008-12-19     5
21370  Connersville    IN  2013          1  02-14 23:00:00  2013-02-14    23
24781     Brentwood    CA  1997          1  03-12 23:00:00  1997-03-12    23
35522        Golden    CO  2013          1  05-26 21:44:00  2013-05-26    21
29505        Dexter    MO  1974          1  04-15 23:00:00  1974-04-15    23
30343      Tonasket    WA  2000          1  04-20 19:55:00  2000-04-20    19
42393      Richmond    VA  2013          1  06-03 03:30:00  2013-06-03     3
4728        Seattle    WA  2003          1  10-31 07:30:00  2003-10-31     7
29827      Branford    CT  2008          1  04-16 14:30:00  2008-04-16    14
11691    Scottsdale    AZ  2000          1  11-04 20:45:00  2000-11-04    20
39332          Ames    IA  2004          1  06-16 13:00:00  2004-06-16    13
60177      Portland    OR  2005          1  09-20 17:00:00  2005-09-20    17
60760       Phoenix    AZ  2003          1  09-22 21:30:00  2003-09-22    21
25393     Frontenac    MN  2001          1  03-15 21:00:00  2001-03-15    21
40418     Hollywood    CA  2010          1  06-02 19:10:00  2010-06-02    19
42283       Navarre    FL  2012          1  06-30 23:00:00  2012-06-30    23
47800         Piqua    OH  2009          1  07-28 04:00:00  2009-07-28     4
28560    Greensburg    PA  2013          1  03-09 21:15:00  2013-03-09    21
53939       Parrish    FL  2009          1  08-20 22:00:00  2009-08-20    22
35031     Galveston    TX  2010          1  05-22 23:45:00  2010-05-22    23
60866         Vista    CA  2011          1  09-22 22:25:00  2011-09-22    22
31257       Seattle    WA  2008          1  04-25 22:00:00  2008-04-25    22
53191       Madison    WI  2003          1  08-17 04:00:00  2003-08-17     4
23264       Stedman    NC  2014          1  02-27 06:00:00  2014-02-27     6
48164      Clermont    FL  2011          1  07-30 22:12:00  2011-07-30    22
24957       Phoenix    AZ  1997          1  03-13 20:30:00  1997-03-13    20
7581   Graniteville    VT  2012          1  11-14 19:50:00  2012-11-14    19
42991   Westminster    CO  2011          1  06-07 17:45:00  2011-06-07    17
35453      Honolulu    HI  2008          1  05-26 00:00:00  2008-05-26     0

In [7]:
# Create variables for storing weather information
temp = []
humidity = []
cloudcover = []
visibility = []
moonphase = []

# Track the number of iterations
count = 0

# Interate through all ufo sightings and get weather information
for index, row in ufo_sample.iterrows():
    count += 1
    # Try to call API for given city and time
    try:
        city = row["city"] + "," + row["state"]
        date = row["date"]
        url = f"https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/{city}/{date}/{date}?unitGroup=us&key={weather_api_key_sab}"
        response = requests.get(url).json()
        # Store necessary information
        temp.append(response["days"][0]["hours"][row["time"]]["temp"])
        humidity.append(response["days"][0]["hours"][row["time"]]["humidity"])
        cloudcover.append(response["days"][0]["hours"][row["time"]]["cloudcover"])
        visibility.append(response["days"][0]["hours"][row["time"]]["visibility"])
        moonphase.append(response["days"][0]["moonphase"])
        print(count, "getting data for", city)
    # If not able to call, store NaN to later drop that row
    except:
        temp.append("NaN")
        humidity.append("NaN")
        cloudcover.append("NaN")
        visibility.append("NaN")
        moonphase.append("NaN")
        print(count, "no info for", city)

1 no info for Tigard,OR
2 no info for Knoxville,TN
3 no info for Tucson,AZ
4 no info for Fontana,CA
5 no info for Allendale,CA
6 no info for Waterford,MI
7 no info for Caldwell,WI
8 no info for Waterville,ME
9 no info for Richmond,VA
10 no info for Austin,TX
11 no info for Plano,TX
12 no info for Glendale,CA
13 no info for Wrentham,MA
14 no info for Columbus,IN
15 no info for Tavares,FL
16 no info for Waynesboro,PA
17 no info for Miami,FL
18 no info for Connersville,IN
19 no info for Brentwood,CA
20 no info for Golden,CO
21 no info for Dexter,MO
22 no info for Tonasket,WA
23 no info for Richmond,VA
24 no info for Seattle,WA
25 no info for Branford,CT
26 no info for Scottsdale,AZ
27 no info for Ames,IA
28 no info for Portland,OR
29 no info for Phoenix,AZ
30 no info for Frontenac,MN
31 no info for Hollywood,CA
32 no info for Navarre,FL
33 no info for Piqua,OH
34 no info for Greensburg,PA
35 no info for Parrish,FL
36 no info for Galveston,TX
37 no info for Vista,CA
38 no info for Seattle,WA
39 no info for Madison,WI
40 no info for Stedman,NC
41 no info for Clermont,FL
42 no info for Phoenix,AZ
43 no info for Graniteville,VT
44 no info for Westminster,CO
45 no info for Honolulu,HI

In [ ]:
# Update ufo data frame to include weather infomation
ufo_sample["temp"] = temp
ufo_sample["humidity"] = humidity
ufo_sample["cloudcover"] = cloudcover
ufo_sample["visibility"] = visibility
ufo_sample["moonphase"] = moonphase

ufo_sample.head()

In [ ]:
city = ufo_df["city"][160] + "," + ufo_df["state"][160]
date = ufo_df["date"][160]
print(city)
print(date)

In [ ]:
# Call Weather API to get current city and date weather info
url = f"https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/{city}/{date}/{date}?unitGroup=us&key={weather_api_key_fran}"
response = requests.get(url).json()
print(json.dumps(response, indent=4, sort_keys=False))

In [ ]:
# Store necessary information
temp = response["days"][0]["hours"][ufo_df["time"][160]]["temp"]
humidity = response["days"][0]["hours"][ufo_df["time"][160]]["humidity"]
cloudcover = response["days"][0]["hours"][ufo_df["time"][160]]["cloudcover"]
visibility = response["days"][0]["hours"][ufo_df["time"][160]]["visibility"]
moonphase = response["days"][0]["moonphase"]